.spacer {
  flex: 1 1 auto;
}

.filter-container {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.38);
}

.top-rated {
  border: 3px solid #ffab00;
  
}
