.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.mat-cards {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  

background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.34);
}

.thank-you {
  text-align: center;
  color: white;
}
.fdform{
    color: white;
}
